<template>
  <div class="about">
    <Title title="Ma Page about" subtitle="Découvrez toutes les informations à propos de ce site" />
  </div>
</template>
<script>
  import Title from "../components/Title";
  export default {
    components : {
      Title
    }
  }
</script>