<template>
    <div>
        <Title title="Contact"  />
        <Modal :showModal="showModal" :close-modal="toggleShowModal">{{ modalContent }}</Modal>
        <form action="#">
            <div class="div_formulaire">
                <label for="monNom">Mon nom : </label>
                <input class="input_search" type="text" id="monNom" v-model="input">
            </div>
            <div class="div_formulaire">
                <label for="message">Mon message : </label>
                <textarea class="textarea_search" id="message" v-model="textArea"></textarea>
            </div>
            <Button title="Envoyer" :event="toggleShowModal" />
        </form>
    </div>
</template>

<script>
    import Title from "../components/Title";
    import Button from "../components/Button";
    import Modal from "../components/Modal";
    export default {
        components : {
            Title, Button, Modal
        },
        name: "Contact",
        data: function() {
            return {
                showModal: false,
                input: "",
                textArea: "",
                modalContent: "gaga",
            }
        },
        methods: {
            toggleShowModal: function() {
                if(!this.showModal)
                    this.modalContent = 'Merci ' + this.input + ', votre message a bien été envoyé';
                this.showModal = ! this.showModal;
            },
        }
    }
</script>

<style lang="scss" scoped>
  .input_search {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    align-self: center;
  }
  .textarea_search {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    align-self: center;
  }
  .div_formulaire {
    display: flex;
    flex-direction: column;
  }
</style>