<template>
    <div>
        <Title title="Film"  />
        <div class="film__list">
            <FilmCard :details="true" :film="myFilm" />
        </div>
    </div>
</template>

<script>
    import Title from "../components/Title";
    import FilmCard from "../components/FilmCard";
    import ApiFilms from "../mixins/api.films";
    export default {
        async created() {
            this.getFilm(this.idFilm)
                .then(data => this.myFilm = data)
                .then(data => console.log(this.myFilm))
                .catch(err => console.log(err))
        },
        name: "FilmPage",
        mixins: [ApiFilms],
        data: function() {
            return {
                idFilm: this.$route.params.id,
                myFilm: [],
            }
        },
        components : {
            Title, FilmCard
        },
    }
</script>

<style scoped>

</style>