<template>
    <div>
        <Title title="Recherche de film"  />
        <div class="film__search">
            <input placeholder="Nom du film..." class="input_search" type="text" v-model="filtres.query" @keyup="searchChange">
            <select class="select_search" @change="searchChange" name="selectRelease" id="selectRelease" v-model="filtres.primary_release_year">
                <option :value="releaseDate" v-for="releaseDate in releasesDates">{{ releaseDate }}</option>
            </select>
            <FilmGrid :films="myFilms" />
        </div>
    </div>
</template>

<script>
    import Title from "../components/Title";
    import ApiFilms from "../mixins/api.films";
    import FilmGrid from "../components/FilmGrid";
    export default {
        name: "FilmSearch",
        mixins: [ApiFilms],
        data: function() {
            let releasesDates = [''];
            for(let annee = 2020; annee >= 1900; annee--)
            {
                releasesDates.push(annee)
            }
            return {
                myFilms: [],
                releasesDates: releasesDates,
                filtres: {
                    query: '',
                    primary_release_year: '',
                    page: 1,
                }
            }
        },
        components : {
            Title, FilmGrid
        },
        methods: {
            searchChange: function() {
                if(this.filtres.query != '')
                {
                    this.searchFilms(this.filtres)
                        .then(data => this.myFilms = data)
                        .catch(err => console.log(err))
                }
            },
        }
    }
</script>

<style lang="scss" scoped>
    .input_search {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    .select_search {
        width: 10%;
        padding: 12px 20px;
        border-radius: 4px;
    }
</style>