<template>
    <div>
        <Title title="Films"  />
        <select class="select_search" @change="searchChange" name="selectGenre" id="selectGenre" v-model="with_genres">
            <option :value="genre.id" v-for="genre in genres">{{ genre.name }}</option>
        </select>
        <FilmGrid :films="myFilms" />
    </div>
</template>

<script>
    import Title from "../components/Title";
    import Film from "../components/FilmCard";
    import FilmGrid from "../components/FilmGrid";
    import ApiFilms from "../mixins/api.films";
    export default {
        async created() {
            this.getFilms(this.type)
                .then(data => this.myFilms = data)
                .catch(err => console.log(err))
            this.getGenres()
                .then(data => this.genres = data)
                .then(data => console.log(this.genres))
                .catch(err => console.log(err))
        },
        async beforeRouteUpdate(to, from, next) {
            next(vm => {
            })
            this.type = this.$route.params.type
            this.getFilms(this.type, 1, this.with_genres)
                .then(data => this.myFilms = data)
                .catch(err => console.log(err))
        },
        mixins: [ApiFilms],
        components : {
            Title, Film, FilmGrid
        },
        name: 'FilmsPage',
        data: function () {
            return {
                type: this.$route.params.type,
                myFilms: [],
                genres: [],
                with_genres: 28,
            }
        },
        methods: {
            searchChange: function() {
                this.getFilms(this.type, 1, this.with_genres)
                    .then(data => this.myFilms = data)
                    .catch(err => console.log(err))
            },
        }
    }
</script>

  <style lang="scss" scoped>
  .select_search {
    width: 10%;
    padding: 12px 20px;
    border-radius: 4px;
  }
</style>