<template>
  <div class="home">
    <Title title="Accueil"  />
    <p>Bienvenue sur cette magnifique application Netflux : le plus grand catalogue de films existant à ce jour.</p>
    <p>Film aléatoire : </p>
    <FilmCard v-if="myFilm" :details="true" :film="myFilm" />
  </div>
</template>

<script>
  // @ is an alias to /src
  import Title from "../components/Title";
  import FilmCard from "../components/FilmCard";
  import ApiFilms from "../mixins/api.films";

  export default {
    async created() {
      this.getRandomFilm()
              .then(data => this.myFilm = data)
              .then(data => console.log(this.myFilm))
              .catch(err => console.log(err))
    },
    name: 'Home',
    components: {
      Title, FilmCard
    },
    mixins: [ApiFilms],
    data: function () {
      return {
        myFilm: {},
      }
    },
  }
</script>
