<template>
    <div>
        <Title title="Liste de souhaits"  />
        <div class="wishlist_container">
            <table v-if="Object.keys(wishlist).length != 0">
                <thead>
                    <tr>
                        <th>VO</th>
                        <th>Nom</th>
                        <th>Note moyenne</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(film, idFilm) in wishlist">
                        <td>{{ film.original_language }}</td>
                        <td>{{ film.title }}</td>
                        <td>{{ film.vote_average }}</td>
                        <td>
                            <router-link :to="'/films/id/' + film.id">
                                <Button title="Détails" classes="btn btn-blue" />
                            </router-link>
                            <Button classes="btn btn-red" title="Retirer" :event="removeWishlistAndRefresh.bind(this, film)"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td>
                            <Button classes="btn btn-red" v-if="Object.keys(wishlist).length != 0" title="Vider la liste de souhaits" :event="emptyWishlistAndRefresh"/>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p v-else>La liste de souhaits est vide</p>
        </div>
    </div>
</template>

<script>
    import Button from "../components/Button";
    import Title from "../components/Title";
    import Wishlist from "../mixins/wishlist";

    export default {
        async created() {
            this.wishlist = JSON.parse(localStorage.getItem('Wishlist')) || [];
        },
        name: "Wishlist",
        components : {
            Title, Button
        },
        mixins: [Wishlist],
        methods: {
            emptyWishlistAndRefresh: function () {
                this.emptyWishlist();
                this.wishlist = JSON.parse(localStorage.getItem('Wishlist')) || [];
            },
            removeWishlistAndRefresh: function (film) {
                this.removeWishlist(film);
                this.wishlist = JSON.parse(localStorage.getItem('Wishlist')) || [];
            }
        },
        data: function () {
            return {
                wishlist: [],
            }
        },
    }
</script>

<style lang="scss" scoped>
    table {
        width: 100%;
    }
    th, td {
        height: 50px;
        border-bottom: 1px solid #ddd;
        padding: 15px;
        text-align: left;
    }
    tbody tr {
        &:hover {
            background-color: #f5f5f5;
        }
    }
</style>