<template>
    <button :class="classes" @click="event">{{ title }}</button>
</template>

<script>
    export default {
        name: "Button",
        props: {
            title: String,
            event: {
                type: Function,
                default: function() {},
            },
            classes: {
                type: String,
                default: "btn",
            },
            type: String,
        }
    }
</script>

<style lang="scss" scoped>
    .btn {
        border-color: limegreen;
        color: limegreen;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        min-width: 80px;
        min-height: 30px;
        &:hover {
            border-color: white;
            color: white;
            background-color: limegreen;
        }
        &-blue {
            border-color: #33afff;
            color: #33afff;
            background-color: white;
            &:hover {
                border-color: white;
                color: white;
                background-color: #33afff;
            }
        }
        &-red {
            border-color: #fa1111;
            color: #fa1111;
            background-color: white;
            &:hover {
                border-color: white;
                color: white;
                background-color: #fa1111;
            }
        }
    }

    .btn-close {
        border: none;
        font-size: 20px;
        padding: 20px;
        cursor: pointer;
        font-weight: bold;
        color: #4AAE9B;
        background: transparent;
    }
</style>