<template>
    <div class="film_content">
        <h2 v-if="film.title" class="film_title">
            {{ film.title }}
        </h2>
        <div v-if="details" class="film_body">
            <div :class="'film_image ' + (film.id%2?'left':'right')">
                <img v-if="film.poster_path" :src="path + film.poster_path" />
            </div>
            <div :class="'film_caracteristiques ' + (film.id%2?'right':'left')">
                <div v-if="film.overview">
                    <label class="film_label" :for="'film_overview_' + film.id">Résumé : </label>
                    <span :id="'film_overview_' + film.id">{{ film.overview }}</span>
                </div>
                <div v-if="film.vote_average">
                    <label class="film_label" :for="'film_vote-average_' + film.id">Note moyenne : </label>
                    <span :id="'film_vote-average_' + film.id">{{ film.vote_average }}</span>
                </div>
                <div v-if="film.release_date">
                    <label class="film_label" :for="'film_release-date_' + film.id">Date de sortie : </label>
                    <span :id="'film_release-date_' + film.id">{{ film.release_date }}</span>
                </div>
                <div v-if="typeof(wishlist[film.id]) == 'undefined'">
                    <Button title="Ajouter à la liste de souhaits" :event="addWishlistAndRefresh.bind(this, film)"/>
                </div>
            </div>
        </div>
        <div v-else class="film_body">
            <div class="film_image">
                <img v-if="film.poster_path" :src="path + film.poster_path" />
            </div>
            <div>
                <router-link :to="'/films/id/' + film.id">
                    <Button title="Détails" classes="btn btn-blue" />
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    import Button from "../components/Button";
    import Wishlist from "../mixins/wishlist";
    export default {
        async created() {
            this.wishlist = JSON.parse(localStorage.getItem('Wishlist')) || [];
        },
        name: "FilmCard",
        components: {
            Button
        },
        props: {
            film : Object,
            details: {
                type: Boolean,
                default: false,
            }
        },
        data: function() {
            return {
                path: "https://image.tmdb.org/t/p/w500/",
                wishlist: [],
            }
        },
        mixins: [Wishlist],
        methods: {
            addWishlistAndRefresh: function (film) {
                this.addWishlist(film);
                this.wishlist = JSON.parse(localStorage.getItem('Wishlist')) || [];
            },
        },
    }
</script>

<style lang="scss" scoped>
    .film_content {
        border: 1px solid;
        margin: 5px;
        border-radius: 8px;
    }
    .film_title {

    }
    .film_body {
        display: inline-block;
    }
    .film_image {
        &.left, &.right {
            width: 50%;
        }
        & img {
            border-radius: 8px;
            max-width: 300px;
            max-height: 300px;
        }
    }
    .film_caracteristiques {
        width: 50%;
        & div {
            text-align: left;
            padding: 10px;
        }
    }
    .film_label {
        font-weight: bold;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
</style>