<template>
    <div class="film_grid">
        <Film v-for="(film, idFilm) in films" :film="film" />
    </div>
</template>

<script>
    import Film from "./FilmCard";
    export default {
        components : {
            Film
        },
        name: 'FilmGrid',
        props: {
            films : Array,
        },
    }
</script>

<style lang="scss" scoped>
    .film_grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
</style>