<template>
    <footer>
        <div class="footer">
            <div id="nav">
                <router-link to="/about">A propos</router-link>
                <router-link to="/contact">Contact</router-link>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style lang="scss" scoped>
    #nav {
        display: flex;
        justify-content: center;
        :hover {
            color: #42b983;
        }
        a {
            padding: 10px;
        }
    }
</style>