<template>
    <header>
        <div class="page-header">
            <div id="nav">
                <router-link to="/">Accueil</router-link>
                <router-link to="/films/upcoming">Films à venir</router-link>
                <router-link to="/films/popular">Films populaires</router-link>
                <router-link to="/films/top_rated">Films mieux notés</router-link>
                <router-link to="/search">Rechercher un film</router-link>
                <router-link to="/wishlist">Ma liste de souhaits</router-link>
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        name: "Header"
    }
</script>

<style lang="scss" scoped>
    #nav {
        display: flex;
        justify-content: center;
        :hover {
            color: #42b983;
        }
        a {
            padding: 10px;
        }
    }
</style>