

<template>
    <div v-if="showModal" class="modal-backdrop">
        <div class="modal">
            <header class="modal-header">
                <Button title="x" :event="closeModal" classes="btn-close" />
            </header>
            <section class="modal-body">
                <slot />
            </section>
            <footer class="modal-footer">
                <Button title="Fermer" :event="closeModal" classes="btn-green" />
            </footer>
        </div>
    </div>
</template>

<script>
    import Button from "../components/Button";
    export default {
        name: "Modal",
        components: {
            Button
        },
        props: {
            showModal: Boolean,
            closeModal: Function,
            contentModal: String,
        }
    }
</script>

<style lang="scss" scoped>
    .modal-backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal {
        background: #FFFFFF;
        box-shadow: 2px 2px 20px 1px;
        overflow-x: auto;
        display: flex;
        flex-direction: column;
    }

    .modal-header,
    .modal-footer {
        padding: 15px;
        display: flex;
    }

    .modal-header {
        border-bottom: 1px solid #eeeeee;
        color: #4AAE9B;
        justify-content: space-between;
    }

    .modal-footer {
        border-top: 1px solid #eeeeee;
        justify-content: flex-end;
    }

    .modal-body {
        position: relative;
        padding: 20px 10px;
    }
</style>