<template>
    <div class="title">
        <h1>{{ title }}</h1>
        <p v-if="subtitle">{{ subtitle }}</p>
    </div>
</template>

<script>
    export default {
        name: "Title",
        props: {
            title: String,
            subtitle: String,
            myArray: Array,
            myObject: Object,
            myFunction: Function,
            myNumber: Number,
            myBoolean: Boolean,
        }
    }
</script>

<style scoped>

</style>