<template>
  <div id="app">
    <Header />
    <div class="content-wrapper">
      <router-view/>
    </div>
    <Footer />
  </div>
</template>

<script>
  import Footer from "./components/Footer";
  import Header from "./components/Header";
  export default {
    components: {
      Header, Footer
    }
  }
</script>

<style lang="scss">
  .content-wrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  #nav {
    padding: 30px;

    a {
      font-weight: bold;
      color: #2c3e50;

      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }
</style>
